.inputs {
    display: inline-block;
}

.table {
    width: 95%;
    border: solid 3px;
}

.highlight {
    background-color: red;
}

.align {
    text-align: center;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.corner {
    text-align: end;
    margin-right: 1em;
}